<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebScrap - Selenium - Django by Lucas Fernandes</title>
</head>
<body>
    <h1>WebScrap - Selenium - Django by Lucas Fernandes</h1>
    <p>Busca simples no site do zoom sobre os preços dos itens</p>

    {% block content %}
    {% endblock %}

    <footer>
        WebScrap - Selenium - Django by Lucas Fernandes
    </footer>
</body>
</html>